.container{
  width: 100%;
  height: 105vh;
  background-color: #63bcff;
}
.weather{
  width: 450px;
  height: 550px;
  border-radius: 10px;
  position: relative;
  bottom: 12%;
  right: 30%;
  margin: 100px auto;
  background: linear-gradient(150deg, #6A49FA , #453284 );
}

.logo p{
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-shadow: #453284 2px 2px 2px ;
}

.logo img{
  height: 70px;
}
.search{
  position: relative;
  bottom: 6%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.search .logo{
  height: 50px;
  height: 70px;
  display: flex;
  align-items: center;
  width: 900px;
  gap: 10px;
}

.search input{
  width: 250px;
  height: 35px;
  border-radius: 10px;
  border: solid #6A49FA;
  outline: 0;
  font-size: 16px;
  color: #3b1ca3;
  background-color: #ffff;
  padding-inline: 1rem;
}

.search button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 47px;
  border: solid #6A49FA;
  border-radius: 50%;
  background-color: #ffff;
  cursor: pointer;
}

.info{
  width: 400px;
  height: 300px;
}

.info img{
  height: 160px;
  position: relative;
  left: 35%;
  top:8%;
}

.info h1{
  width: 200px;
  position: relative;
  left: 22%;
  top: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #ffff;
  width: 280px;
}

.info h2{
  position: relative;
  left: 6.5%;
  top: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffff;
}

.details{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  position: relative;
  top: 20%;
}

.details .box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box img{
  height: 70px;
}

.box .text{
  color: #ffff;
  font-size: 18px;
}

.hidden {
  display: none;
}

.erreur { 
  display: flex; 
  justify-content: center; 
  align-items: center;  
  position: relative;
  top: 40%;
}

.erreur p{
  color: #3b1ca3; 
  font-size: 30px;
}

.prevision{
  position: relative;
  bottom: 70%;
  left: 145%;
  height: 400px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  row-gap: 80px;
  margin-left: 30%;
}

.box-previson{
  border-radius: 10px;
  width: 180px;
  padding-inline: 1rem;
  background: linear-gradient(150deg, #6A49FA , #453284 );
}

.box-previson p{
  color: #fff;
  display: flex;
  justify-content: center;
}

.box-previson img{
  position: relative;
  left: 34%;
  height: 60px;
}