*{
    margin: 0;
}

.preloader{
    max-height: 100vh;
    max-width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
}

.texte-preloader{
    width: 780px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    overflow: hidden;
}

.texte-preloader span{
    font-size: 70px;
    font-weight: 600;
    color: #6A49FA ;
}

.texte-preloader span img{
    height: 190px;
}

.motif{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.motifs-1{
    position: relative;
    top: 35%;
    left: 38%;
    height: 200px;
    width: 200px;
    border-radius: 100% 0% 100% 0% / 100% 100% 0% 0% ;
    background: linear-gradient(150deg, #896ffc, #4a16f5, #10bef8);
}

.motifs-2{
    position: relative;
    bottom: 37%;
    right: 37%;
    height: 200px;
    width: 200px;
    border-radius: 100% 0% 100% 0% / 0% 0% 100% 100% ;
    background: linear-gradient(150deg, #896ffc, #4a16f5, #10bef8);
}

@media (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
    }
    .preloader{
        width: 100%;
        height: 100vh;
        position: fixed;
    }

    .texte-preloader{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .texte-preloader span{
        font-size: 30px;
    }

    .texte-preloader span img{
        height: 80px;
    }

    .motif{
        width: 100%;
        height: 100vh;
    }

    .motifs-2{
        position: absolute;
        height: 120px;
        width: 120px;
        bottom: 87%;
        left: 0%;
    }

    .motifs-1{
        height: 120px;
        width: 120px;
        position: absolute;
        top: 87%;
        left: 72%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .preloader{
        width: 100%;
        height: 100vh;
        position: fixed;
    }

    .texte-preloader{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 22px;
    }

    .texte-preloader span{
        font-size: 60px;
    }

    .texte-preloader span img{
        height: 100px;
    }

    
    .motif{
        max-width: 100%;
        height: 100vh;
    }

    .motifs-2{
        position: absolute;
        height: 150px;
        width: 150px;
        top: 0%;
        left: 0%;
    }

    .motifs-1{
        height: 150px;
        width: 150px;
        position: absolute;
        top: 79%;
        left: 81%;
    }
}

@media (min-width: 1024px)  {
    *{
        margin: 0;
    }
    .preloader{
        width: 100%;
        height: 100vh;
        position: fixed;
    }

    .texte-preloader span{
        font-size: 70px;
    }

    .texte-preloader span img{
        height: 180px;
    }

    .motif{
        width: 100%;
        height: 100vh;
    }

    .motifs-2{
        height: 200px;
        width: 200px;
        bottom: 36%;
    }

    .motifs-1{
    top: 36%;
    left: 37%;
    height: 200px;
    width: 200px;
    }

}
